-----BEGIN CERTIFICATE-----
MIIDljCCAn4CCQDRCZfJ7gNVxjANBgkqhkiG9w0BAQsFADCBjDELMAkGA1UEBhMC
Q0ExCzAJBgNVBAgMAk1CMREwDwYDVQQHDAhXaW5uaXBlZzEMMAoGA1UECgwDTk1M
MRcwFQYDVQQLDA5CaW9pbmZvcm1hdGljczEOMAwGA1UEAwwFSVJJREExJjAkBgkq
hkiG9w0BCQEWF21hdHRoZXcuZ29wZXpAY2FuYWRhLmNhMB4XDTIwMDYwMjE1NDgy
OVoXDTIxMDYwMjE1NDgyOVowgYwxCzAJBgNVBAYTAkNBMQswCQYDVQQIDAJNQjER
MA8GA1UEBwwIV2lubmlwZWcxDDAKBgNVBAoMA05NTDEXMBUGA1UECwwOQmlvaW5m
b3JtYXRpY3MxDjAMBgNVBAMMBUlSSURBMSYwJAYJKoZIhvcNAQkBFhdtYXR0aGV3
LmdvcGV6QGNhbmFkYS5jYTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AM+LTDycxJ5qy+bA2gz5luh6eb/LiuA7A7u0ovKp+xBqlt4xOzI4Zf3RTT5+ANOJ
J/OMfhmiGiwfW4rAU9Pra+aSp8RTTTN82K72vnePOoDnUAy29YZEwJOcp9dQsLXX
OqmL8q43xrc1pFlgaufYa0NJUhaa34UNU1xV7XQ3BcykTJXmVtbfKQYNg7n9s+QN
9RHddv+4sHga3Jgf0nUFgv2e5/5EikIlRPg/A8DJfIfreO/BM3KgNrWQnxjbbbmc
9tHhRLz3RCtmKI7RutEG2dBhpC7h8XpmmbEhbSQvwmgz681TXTLG3ZltTMygI0uB
M9VzQHh+vwo2I7r9wbeCgB0CAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAKLvqEypL
51LZsBdq9WcnofsLaYruZXAvcw7vrbK/wi6GCTO/hwqXHDaPidfMUr5LgA43eM2x
l1NEUktRT5fiNEKc7moRYh6D1MGe7vftcJltklsFH/HsW8W9wAp+lURXrBUwe0W7
7stUjgU9NGff6uJ5n7nFgz7ZDWRIYhKtPplJs93S1hVrbn8vH90ggmojikLRJfeJ
vlid3/8DI4/vAwlCamGWyaYLlJjSPAjDP/EbYNktG/Tu7dYWspFIy11qfmzol+QI
DSygIfoG2Q2qeb00eTR5fjePDsD90H+XqWPFwcQuoahnBub7SIRw/q3uuwgD91cm
572vNvPc9iyKqA==
-----END CERTIFICATE-----
